/* Trending Movies */
.trendingSwiper {
  background-color: black;
}
.trendingSwiper .swiper-slide img {
  width: 100%;
  height: 600px;
  object-fit: cover;
  border-radius: 10px;
}

.trendCenter {
  margin: auto;
  width: 90%;
  padding: 10px;
}
