@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@700&display=swap");

@font-face {
  font-family: Baguet;
  src: url(/public/burnstown-dam/burnstown\ dam.ttf);
}

/* body */

body {
  background-color: black;
}

/* Navbar */

.navtext {
  /* overflow: visible; */
  font-family: Lato;
  z-index: 1;
}

.nav-link:hover {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
}
.nav-link {
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 10px;
  margin: 15px;
}

.navbar-brand {
  font-family: "Josefin Sans", sans-serif;

  margin-left: 10px;
}

/* Video Player */

.videoPlayer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.embed-responsive {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 56.25%;
}

/* Card System */

.flip-card {
  width: 250px;
  height: 350px;
  perspective: 1000px;
  margin: 20px;
  cursor: pointer;
}

.flip-card img {
  border-radius: 10px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  border-radius: 2%;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 10px;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.avatar {
  width: 250px;
  height: 350px;
}

.flip-card-back {
  color: white;
  transform: rotateY(180deg);
}

.firstOverlay {
  background-color: rgba(255, 255, 255, 0.1);
}

.flipOverlay {
  background-color: rgba(0, 0, 0, 0.8);
  overflow: scroll;
}
/* */

.card-text {
  font-family: Poppins;
  font-weight: 500;
  color: white;
  padding: 10px;
}

.cardText-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
}

.playButton {
  font-size: 50px;
  color: rgba(247, 12, 12, 0.7);
  padding-top: 50%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* .card:hover {
  width: 190px;
  box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.5);
  border: black;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
} */

/* Footer */

.page-footer {
  background-color: black;
  font-family: Poppins;
  font-weight: 500;
  color: white;
}

/* Slider */

.slider1 {
  padding: 55vh;
}

.banner1,
.banner2,
.banner3,
.banner4 {
  height: 100vh;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0%;
  overflow: hidden;
}

.banner1 img,
.banner2 img,
.banner3 img,
.banner4 img {
  width: 120%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation: zoom-out 3s linear infinite;
}

@keyframes zoom-out {
  100% {
    width: 100%;
  }
}

.text-box {
  width: 600px;
  position: absolute;
  top: 300px;
  left: 100px;
  color: white;
  animation: textup 12s linear infinite;
  transform: translateY(100px);
  text-shadow: 5px 5px 10px black;
}

@keyframes textup {
  10% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(0px);
  }
}

.text-box1 {
  animation-delay: 0s;
}
.text-box2 {
  animation-delay: 3s;
}
.text-box3 {
  animation-delay: 6s;
}
.text-box4 {
  animation-delay: 9s;
}

.text-box h1 {
  margin-bottom: 40px;
}
.text-box p {
  font-size: 14px;
  line-height: 18px;
  margin-top: 80px;
}

.text-box span {
  background: red;
  height: 1px;
  width: 100px;
  position: absolute;
  left: 0;
}
.banner1 {
  animation: slide1 12s linear infinite;
}
.banner2 {
  animation: slide2 12s linear infinite;
}
.banner3 {
  animation: slide3 12s linear infinite;
}
.banner4 {
  animation: slide4 12s linear infinite;
}

@keyframes slide1 {
  0% {
    visibility: visible;
  }
  25% {
    visibility: hidden;
  }
  50% {
    visibility: hidden;
  }
  75% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

@keyframes slide2 {
  0% {
    visibility: hidden;
  }
  25% {
    visibility: hidden;
  }
  50% {
    visibility: visible;
  }
  75% {
    visibility: hidden;
  }
  100% {
    visibility: hidden;
  }
}

@keyframes slide3 {
  0% {
    visibility: hidden;
  }
  25% {
    visibility: hidden;
  }
  50% {
    visibility: hidden;
  }
  75% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}

@keyframes slide4 {
  0% {
    visibility: hidden;
  }
  25% {
    visibility: hidden;
  }
  50% {
    visibility: hidden;
  }
  75% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

.comingSoon {
  width: 600px;
  position: absolute;
  bottom: 1%;
  left: 88%;
  color: white;
  text-shadow: 5px 5px 10px black;
}
